---
---
html,
body {
  height: 100%;
  width: 100%;
  font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

/* fix bs3 horizontal scrollbar bug */
.row { margin: 0; padding: 0 }

h1 {
  font-size:15px;
}

/**
 * IMPORTS vendors libraries
 **/

@import "vendors/bootstrap.min.css";
@import "vendors/font-awesome-4/css/font-awesome.min.css";


/**
 * Internal imports
 **/
@import "variables";
@import "main";
@import "mission";
@import "about";
@import "faq";
@import "imprint";
@import "tou";
@import "privacy";
@import "navbar";
@import "header";
@import "footer";
