---
---

//
// IMPORTS
//

@import "normalize";
@import "reset";
@import "variables";

/**************/
/* BASE RULES */
/**************/

html
{
    font-size: 25px;
    font-family: $lato;
    transition: font-size $resizeAnimationSpeed;
    background-color: #fdfdfd;
}
@import "header";
@import "section1";
@import "section2";
@import "footer";

section.content
{
    padding: 70px 0;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    html
    {
        font-size: 23px;
    }
}

@media screen and (max-width: 960px) {
    html
    {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    html
    {
        font-size: 17px;
    }
}

@media screen and (max-width: 640px) {
    html
    {
        font-size: 15px;
    }
}
