<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <div class="footer-logo">
                      <img src="./images/codedoor_logo_final_01_white.png" />
                    </div>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Codedoor.org</h3>
                    <ul>
                        <li> <a href="mission.html"> Our mission </a> </li>
                        <li> <a href="news.html"> News </a> </li>
                        <li> <a href="about.html"> About us </a> </li>
                        <li> <a href="transparency.html"> Transparency </a> </li>
                        <li> <a href="faq.html"> FAQ </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Community </h3>
                    <ul>
                        <li> <a href="students.html"> Our students </a> </li>
                        <li> <a href="tutors.html"> Our tutors </a> </li>
                        <li> <a href="team.html"> Our team </a> </li>
                        <li> <a href="contributors.html"> Our contributors </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                    </ul>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3> Connect </h3>
                    <ul>
                        <li>
                            <div class="input-append newsletter-box text-center">
                              <form action="//codedoor.us10.list-manage.com/subscribe/post?u=4fdce92afe645028f9bd95a2d&amp;id=8a03473322" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                <input type="text" class="full text-center" name="EMAIL" id="mce-EMAIL" placeholder="Email ">
                                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn bg-gray" value="Subscribe">
                            </form>
                            </div>
                        </li>
                    </ul>
                    <ul class="social">
                        <li> <a href="https://github.com/CodeDoorHQ" target=_blank> <i class=" fa fa-github">   </i> </a> </li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
                    </ul>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!--/.footer-->

    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> © 2015 CodeDoor.org, a non-profit organization. </p>
            <div class="pull-right">
                <ul class="nav nav-pills">
                	<li><a href>Imprint</a></li>
                  <li><a href>FAQ</a></li>
                  <li><a href>Terms of use</a></li>
                  <li><a href>Privacy policy</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--/.footer-bottom-->
</footer>
