<footer>
    <section class="footer-logo">
      <img src="./images/logo.png" />
    </section>
    <section class="footer-one">
      <h4>CodeDoor</h4>
        <ul class="footer-list">
          <li>About us</li>
          <li>Transparency</li>
          <li>FAQ</li>
        </ul>
    </section>
    <section class="footer-two">
      <h4>Contribute</h4>
        <ul class="footer-list">
          <li>As a student</li>
          <li>As a tutor</li>
          <li>As a donor</li>
          <li>As a developer</li>
        </ul>
    </section>


    <section class="footer-bottom">
       <div> © 2015 CodeDoor.org, a non-profit organization</div>
          <ul>
            <li><a href>Imprint</a></li>
            <li><a href>FAQ</a></li>
            <li><a href>Terms of use</a></li>
            <li><a href>Privacy</a></li>
          </ul>
       </div>
    </section>
</footer>
