<footer>
    <section class="footer-logo">
      <img src="./images/codedoor_logo_final_01_white.png" />
    </section>
    <section class="footer-one">
      <h4>CodeDoor</h4>
        <ul class="footer-list">
          <li>About us</li>
          <li>Transparency</li>
          <li>FAQ</li>
          <li>Contact us</li>
          <li>Careers</li>
        </ul>
    </section>
    <section class="footer-two">
      <h4>Community</h4>
        <ul class="footer-list">
          <li>Our students</li>
          <li>Our tutors</li>
          <li>Our team</li>
          <li>Our contributors</li>
          <li>Forum</li>
        </ul>
    </section>
    <section class="footer-two">
      <h4>Follow us</h4>
        <ul class="footer-list">
          <li>Facebook</li>
          <li>Twitter</li>
          <li>Github</li>
        </ul>
    </section>


    <section class="footer-bottom">
       <div> © 2015 CodeDoor.org, a non-profit organization</div>
          <ul>
            <li><a href>Imprint</a></li>
            <li><a href>FAQ</a></li>
            <li><a href>Terms of use</a></li>
            <li><a href>Privacy policy</a></li>
          </ul>
       </div>
    </section>
</footer>
