
        <!-- Header
        ============================================= -->

            <div id="header-wrap">

                <div class="container clearfix">

                    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                    <!-- Logo
                    ============================================= -->
                    <div id="logo">
                        <a href="index.html" class="standard-logo"><img src="images/codedoor-logo.png" alt="Codedoor Logo"></a>
                        <a href="index.html" class="retina-logo"><img src="images/codedoor-logo.png" alt="Codedoor Logo"></a>
                    </div><!-- #logo end -->

                    <!-- Primary Navigation
                    ============================================= -->
                    <nav id="primary-menu">

                        <ul>
                            <li class="current"><a href="index.html"><div>Home</div></a></li>
                            <li><a href="mission.html"><div>Our mission</div></a></li>
                            <li><a href="students.html"><div>Students</div></a></li>
                            <li><a href="contribute.html"><div>Contribute</div></a></li>
                            <li><a href="faq.html"><div>FAQ</div></a></li>
                            <li><a href="http://blog.codedoor.org"><div>Blog</div></a></li>
                        </ul>

                        <!-- Language-switch
                        ============================================= -->
                       <!-- <div id="top-lang">
                            <a href="#" id="top-lang-trigger"><i class="icon-flag-alt"></i></a>
                            <div class="top-lang-content">
                                <div class="top-lang-title">
                                    <h4>Change language</h4>
                                </div>
                                <div class="top-lang-items">
                                    <div class="top-lang-item clearfix">
                                        <div class="top-lang-item-image">
                                            <a href="#"><img src="images/flags/french.jpg" alt="French" /></a>
                                        </div>
                                        <div class="top-lang-item-desc">
                                            <a href="#">French</a>
                                        </div>
                                    </div>
                                    <div class="top-lang-item clearfix">
                                        <div class="top-lang-item-image">
                                            <a href="#"><img src="images/flags/english.jpg" alt="English" /></a>
                                        </div>
                                        <div class="top-lang-item-desc">
                                            <a href="#">English</a>
                                        </div>
                                    </div>
                                    <div class="top-lang-item clearfix">
                                        <div class="top-lang-item-image">
                                            <a href="#"><img src="images/flags/arabic.jpg" alt="Arabic" /></a>
                                        </div>
                                        <div class="top-lang-item-desc">
                                            <a href="#">Arabic</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- #top-lang end -->

                        <!-- Top Search
                        ============================================= -->
                       <!-- <div id="top-search">
                            <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
                            <form action="search.html" method="get">
                                <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
                            </form>
                        </div><!-- #top-search end -->

                    </nav><!-- #primary-menu end -->

                </div>

            </div>
