
<header>
  <nav id="navHeader">
    <a href="{{ site.baseurl }}">
      <h1 class="logo">
        <img alt="CodeDoor Logo" src="{{ site.baseurl }}/images/codedoor-logo-no-text.png">
        CodeDoor
      </h1>
    </a>

    <ul>
      <li><a href="{{ site.baseurl }}/contribute">CONTRIBUTE</a></li>
        <li><a href="{{ site.baseurl }}/students">VIEW STUDENTS</a></li>
      <li><a href="{{ site.baseurl }}/about.html">ABOUT US</a></li>
    <li><a href="{{ site.baseurl }}/faq.html">FAQ</a></li>
    </ul>
  </nav>
</header>
