.contribute {
  padding: 150px;
  background:$lightgrey;
  margin-right: auto;
  margin-left: auto;
  /*width: 1200px;*/
  width:85%;
}



.contribute-header {
  height: 60%;
  background: #ddd url('./images/code.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.contribute-top {
  color: #384150;
  padding-bottom: 80px;
}

.contribute-top header {
  font-size: 2rem;
  font-color: $black;
  padding-bottom: 10px;
}

.contribute-header h1 {
  display: block;
  margin-top: 6.7em;
  margin-bottom: 1em;
  float: none;
  clear: none;
  font-size:35px;
  font-weight: bold;
  -webkit-text-stroke: 1px rgba(0,0,0,0.1);
  color:#fff;
  margin-left:-5px;
  margin-bottom:5px;
  font-family:'Open Sans',Helvetica,Arial,sans-serif;
  border-style: none;
  border-width: 0px 0px 3px;
  border-color: #80f black;
  direction: ltr;
  font-family: Montserrat, sans-serif;
  font-size: 54px;
  line-height: 71px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0px;
  text-transform: uppercase;
  text-shadow: none;
  }

.melissa h3 {
  text-align: center;
  font-weight:700;
  -webkit-text-stroke: 1px rgba(0,0,0,0.1);
  color:#fff;
  font-family:'Open Sans',Helvetica,Arial,sans-serif;
  font-size: 35px;
  text-transform: uppercase;
  }


/**
 *
 * Style for the main page.
 *
 **/

/* How it works section */
.how {
  h3 {
    font-size:32px;
    font-weight: bold;
    /*color:#2fc4ae;*/
    color:#446c80;
    font-family:'Open Sans', sans-serif;
    margin-top: 1.0em;
    position: center;
  }

  h4 {
    font-size:22px;
    font-weight: bold;
    /*color:#2fc4ae;*/
    color:#446c80;
    font-family:'Open Sans', sans-serif;
    margin-top: 1.0em;
    position: center;
  }

  p {
    font-size:16px;
    color:#446c80;
    font-family:'Open Sans', sans-serif;
    margin-top: 1.0em;
    padding: 1.5em;
    line-height: 1.5;
    display:table-cell;
    vertical-align:middle;
  }
}

.icon-item {
  margin-bottom: 15px;
  margin-top: 1.5em;
}

.icon-item > i {
  border: 3px solid #aaaaaa;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle;
  text-align: center;
}

.icon-item > i:hover {
  font-size: 68px;
}
/* END How it works section */

/* Video Melissa section */
.melissa {
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  background-color: #446c80;

  .quote {
    margin-right: 15px;
    margin-left: 15px;
    padding: 35px 30px;
    color: #dedede;
    font-size: 22px;
    line-height: 40px;
    font-weight: 300;
  }

  .author {
    padding-right: 50px;
    padding-left: 50px;
    font-family:'Open Sans', sans-serif;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    text-align: right;
  }

  .author.authordetail {
    font-size: 14px;
    line-height: 30px;
  }
}
/* END Video Melissa section */

/* Contact section */
.contact {
  padding: 120px 0;
  background-color:#fefefe;

  .panel {
    background-color:transparent;
  }
}

.bright {
  background: #7fbbda url('./images/bg-contact.jpg') no-repeat center center fixed;
  color:#fff;
}
/* END Contact section */



/* How it all started */
.howitstarted {
  background: #fff;
  padding: 50px 0;
  color: #545455;

    h3 {
      font-size:32px;
      font-weight: bold;
      color:#446c80;
      font-family:'Open Sans', sans-serif;
      margin-top: 1.5em;
      position: center;
    }

  p {
    color: #545455;
    text-align: left;
    font-size: 22px;
    line-height: 40px;
    font-weight: 300;
  }
}

.volunteers {
    width:200px;
    height:150px;
    position:relative;
    display:inline-block;
    overflow:hidden;
    margin:1em;
}

.volunteers > img {
    position:absolute;
    top:50%;
    min-height:100%;
    display:block;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    min-width:100%;
}

/* Technology section */
.core-values {
  background: #545455;
  padding: 50px 0;
  color: #ffffff;

  a {
    color: #fff;
    text-decoration: underline;
  }

  h3 {
    font-size:32px;
    font-weight: bold;
    /*color:#2fc4ae;*/
    color:#fffff;
    font-family:'Open Sans', sans-serif;
    margin-top: 1.0em;
    position: center;
  }

  h4 {
    font-size:22px;
    font-weight: bold;
    color:#fffff;
    font-family:'Open Sans', sans-serif;
    margin-top: 1.0em;
    position: center;
  }

  p {
    font-size:16px;
    color:#fffff;
    font-family:'Open Sans', sans-serif;
    margin-top: 1.0em;
    padding: 1.5em;
    line-height: 1.5;
    display:table-cell;
    vertical-align:middle;
  }
}
/* END Technology section */


/* Who we are section */
.whoweare {
  h3 {
    font-size:32px;
    font-weight: bold;
    /*color:#2fc4ae;*/
    color:#446c80;
    font-family:'Open Sans', sans-serif;
    margin: 1.5em;
    position: center;
  }

  h4 {
    font-size:22px;
    font-weight: bold;
    /*color:#2fc4ae;*/
    color:#446c80;
    font-family:'Open Sans', sans-serif;
    margin-top: 1.5em;
    position: center;
  }

  p {
    font-size:16px;
    color:#446c80;
    font-family:'Open Sans', sans-serif;
    margin: 1.5em;
    padding: 1.5em;
    line-height: 1.5;
    display:table-cell;
    vertical-align:middle;
  }
}
/* END How it works section */




/* Rest of the page */

.vert {
  vertical-align: middle;
  width:100%;
  padding-top:4%;
}
