
nav#navHeader
{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 110px;
    width: 100%;
    background-color: rgba(0,0,0,0);
    z-index: 90;
    transition: height $resizeAnimationSpeed;
}

h1.logo
{
    position: absolute;
    left: 10%;
    top: 28px;
    display: block;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
    transition: top $resizeAnimationSpeed;
}

h1.logo > img
{
    display: inline-block;
    width: 80px;
    margin-right: 12px;
    vertical-align: sub;
}

nav#navHeader > ul
{
    display: block;
    position: absolute;
    right: 10%;
    top: 40px;
    padding: 0;
    margin: 0;
    list-style: none;
    transition: top $resizeAnimationSpeed;
}

nav#navHeader > ul > li
{
    display: inline-block;
    margin-right: 15px;
}

nav#navHeader > ul > li > a
{
    color: white !important;
    font-size: 0.7rem;
    text-decoration: none;
    letter-spacing: -0.005rem;
}

@media screen and (max-width: 1024px) {
    nav#navHeader
    {
        height: 100px;
    }

    h1.logo
    {
        top: 23px;
    }

    nav#navHeader > ul
    {
        top: 34px;
    }
}

@media screen and (max-width: 960px) {
    nav#navHeader
    {
        height: 90px;
    }

    h1.logo
    {
        top: 23px;
    }

    nav#navHeader > ul
    {
        top: 36px;
    }
}

@media screen and (max-width: 768px) {
    nav#navHeader
    {
        height: 80px;
    }

    h1.logo>img
    {
        width: 33px;
    }

    h1.logo
    {
        top: 25px;
    }

    nav#navHeader > ul
    {
        top: 35px;
    }
}

@media screen and (max-width: 640px) {
    nav#navHeader
    {
        height: 70px;
    }

    h1.logo
    {
        top: 21px;
    }

    nav#navHeader > ul
    {
        top: 33px;
    }
}
