/* Header style */

.header {
  height: 100%;
  background: #ddd url('./images/backgroundPicture.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*.header h1 {
  padding-top: 150px;
  font-size:35px;
  font-weight: bold;
  -webkit-text-stroke: 1px rgba(0,0,0,0.1);
  color:#fff;
  margin-left:-5px;
  margin-bottom:5px;
  font-family:'Open Sans',Helvetica,Arial,sans-serif;
}*/

.header h1 {
  display: block;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  float: none;
  clear: none;
  padding-top: 150px;
  font-size:35px;
  font-weight: bold;
  -webkit-text-stroke: 1px rgba(0,0,0,0.1);
  color:#fff;
  margin-left:-5px;
  margin-bottom:5px;
  font-family:'Open Sans',Helvetica,Arial,sans-serif;
  border-style: none;
  border-width: 0px 0px 3px;
  border-color: #80f black;
  direction: ltr;
  font-family: Montserrat, sans-serif;
  color: white;
  font-size: 54px;
  line-height: 71px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0px;
  text-transform: uppercase;
  text-shadow: none;
  }

.header .lead {
  color:#eeeeee;
  font-size:20px;
}

.header .btn-lg {
   font-size:28px;
   border-color:#eeeeee;
   padding:15px;
   background-color:transparent;
   color:#ffffff;
}

.header .btn-lg:hover {
   background-color:#eeeeee;
   color:#777777;
}
