section.landingMission
{
    text-align: center;
}

section.landingMission h3
{
    margin: 0 auto;
    padding: 0;
    font-size: 2.6rem;
    font-weight: 400;
    text-align: center;
    color: $black;
    margin-bottom: 60px;
}

section.landingMission figure.illustration
{
    display: inline-block;
    width: 100%;
    max-width: 270px;
    vertical-align: top;
    position: relative;
}

figure.illustration img
{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    margin: 0 auto;
}

section.landingMission figure.illustration figcaption
{
    font-size: 0.73rem;
    color: $black;
    letter-spacing: 0.005rem;
    text-align: center;
    margin-top: 75px;
}

section.landingMission a.whyLink span
{
    display: table;
    position: relative;
    margin: 0 auto;
    margin-top: 70px;
    color: $blue;
    font-weight: 400;
    letter-spacing: 0.01rem;
    font-size: 0.9rem;
    text-decoration: none;
    transition: color $resizeAnimationSpeed, background $resizeAnimationSpeed;
    padding: 10px 0;
}

section.landingMission a.whyLink span::before,
section.landingMission a.whyLink span::after
{
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    top: 0;
    left: 0;
    background-color: $blue;
}
section.landingMission a.whyLink span::after
{
    top: auto;
    bottom: 0;
}

section.landingMission a.whyLink span:hover
{
    background-color: $blue;
    color: white;
}
