section.landingStudent
{
    background-color: #446c80;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.landingStudent h3
{
    color: white;
    margin-bottom: 20px;
}

section.landingStudent h4
{
    display: table;
    margin: 0 auto;
    color: #d2d2d2;
    font-size: 1.1rem;
}

section.landingStudent .report
{
    max-width: 600px;
    margin: 0 auto;
    margin-top: 50px;
}

section.landingStudent .report .title
{
    color: white;
    font-size: 1.1rem;
    letter-spacing: -1px;
}

section.landingStudent .report .content
{
    color: white;
    font-size: 0.65rem;
    letter-spacing: -1px;
    font-style: italic;
    text-align: left;
    font-weight: 300;
    margin-top: 40px;
}

section.landingStudent .hanyRecent .title
{
    font-size: 1.0rem;
    color: white;
    margin-top: 50px;
    margin-bottom: 20px;
}
