section.landingContact
{
    background-color: #fcd15c;
}

section.landingContact h3
{
    padding-bottom: 30px;
}

section.landingContact .contact {
  display: flex;
  justify-content: center;
}

section.landingContact form {
  display: flex;
  flex-direction: column;
  padding-right: 50px;

}

section.landingContact input {
  width: 380px;
  height: 52px;
  font-size: 0.8rem;
  padding-left: 25px;
  margin: 0 0 15 0;
}

section.landingContact textarea {
  width: 380px;
  height:200px;
  font-size: 0.8rem;
  padding-left: 25px;
  margin: 0 0 15 0;
}


section.landingContact input.submit {
  background-color: #1e1e1e;
  color: white;
  border: 0;
}
