.mission {
  padding: 150px;
  background:$lightgrey;
  margin-right: auto;
  margin-left: auto;
  /*width: 1200px;*/
  width:85%;
}

.mission-header {
  padding-bottom: 50px;
  width:85%;
}

.mission-top {
  color: #384150;
  padding-bottom: 80px;
}

.mission-top header {
  font-size: 2rem;
  font-color: $black;
  padding-bottom: 10px;
}

